<% provide(:title, 'Delegates Regions') %>

<div class="container">
    <h1><%= yield(:title) %></h1>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Delegates</th>
          <th>Senior</th>
          <th></th>
        </tr>
        <% @delegate_regions.each do |region| %>
          <tr>
            <td><%= region.friendly_id %></td>
            <td><%= region.name %></td>
            <td>
             <%= users_to_sentence region.current_delegates.includes(:user).map(&:user) %>
            </td>
            <td>
               <%= users_to_sentence region.current_delegates.where(status: 'Senior').map(&:user) %>
            </td>
            <td>
             <%= link_to icon("fas", "edit", "Manage"), edit_team_path(region), class: "btn btn-success" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>
