Competition Announcement Team, <br>
<br>
<strong><%= @confirmer.name %> has confirmed <%= link_to @competition.name, competition_url(@competition) %>.</strong><br>

<span class="<%= 'alert' if (@competition.start_date - Time.now.to_date).to_i <= 30 %>">
  The competition will take place on
  <% if @competition.year == @competition.endYear %>
    <% if @competition.month == @competition.endMonth %>
      <% if @competition.day == @competition.endDay %>
        <%= @months[@competition.month - 1] %> <%= @competition.day %>, <%= @competition.year %>,
      <% else %>
        <%= @months[@competition.month - 1] %> <%= @competition.day %>-<%= @competition.endDay %>, <%= @competition.year %>,
        <% end %>
    <% else %>
      <%= @months[@competition.month - 1] %> <%= @competition.day %> to <%= @months[@competition.endMonth - 1] %> <%= @competition.endDay %>, <%= @competition.year %>,
      <% end %>
  <% else %>
    <%= @months[@competition.month - 1] %> <%= @competition.day %>, <%= @competition.year %> to <%= @months[@competition.endMonth - 1] %> <%= @competition.endDay %>, <%= @competition.endYear %>,
    <% end %>
  in <%= (@competition.start_date - Time.now.to_date).to_i %> days.
  <% if (@competition.start_date - Time.now.to_date).to_i <= 30 %>
    There are 48 hours remaining for the competition to be announced. @Delegates, please respond to any WCAT concerns as soon as possible to ensure that the competition becomes announced. If the competition becomes less than 28 days away, the WCAT cannot announce it.
    <% end %>
  <br>
  <br>
</span>

<% if @competition.championships.present? %>
  <span class="alert">
    This competition is marked as <%= @competition.championships.sort.map(&:name).to_sentence %>.<br>
    <br>
  </span>
  <% end %>

<% @competition.delegates.map do |delegate| %> 
  <% if Team.probation.current_members.map { |member| member.user_id }.include?(delegate.id) %>
    <span class="alert">
      <%= delegate.name %> is currently on probation. Please check the <%= link_to "Delegates on Probation spreadsheet", "https://docs.google.com/spreadsheets/d/1ZU1lk0niGn-vjmbiDkoROU8qjmdHkNebZ2GCFHm6vvA/edit#gid=1887522006" %> for more details.<br>
      <br>
    </span>
    <% end %>
  <% end %>

<% @competition.nearby_competitions(Competition::NEARBY_DAYS_WARNING, Competition::NEARBY_DISTANCE_KM_WARNING).each do |c| %>
  <% if @competition.dangerously_close_to?(c) %>
    <span class="alert">
      This competition has a potential proximity conflict with
      <%= link_to c.name, admin_edit_competition_url(c) %>
      which is
      <% if (@competition.start_date - c.start_date).to_i > 0 %>
        <%= (@competition.start_date - c.start_date).to_i %> days before
      <% else %>
      <%= (c.start_date - @competition.start_date).to_i %> days after
        <% end %>
      and <%= @competition.kilometers_to(c).round(2) %> km away.<br>
      <br>
    </span>
    <% end %>
  <% end %>

<% if @competition.remarks.present? %>
  <%= @confirmer.name %> says: "<%= @competition.remarks %>".<br>
  <% end %>

<% if @competition.name_reason? %>
  The competition name is because "<%= @competition.name_reason %>".<br>
  <% end %>

<% if @competition.competitor_limit_enabled? %>
  <span class="<%= 'alert' if @competition.competitor_limit < 50 %>">
    There is a competitor limit of <%= @competition.competitor_limit %> because "<%= @competition.competitor_limit_reason %>".<br>
  </span>
  <% end %>

<% if @competition.regulation_z1? %>
  The Delegate(s) requested for competitors to <b>submit puzzles early</b> because "<%= @competition.regulation_z1_reason %>".<br>
  <% end %>

<% if @competition.regulation_z3? %>
  The Delegate(s) requested the adoption of <b>qualification times</b> because "<%= @competition.regulation_z3_reason %>".<br>
  <% end %>

@WCAT: You can delete this competition or make it publicly visible <%= link_to "here", admin_edit_competition_url(@competition) %>.
For a complete list of confirmed but unannounced competitions see your <%= link_to "notifications", notifications_url %>.<br>
<br>
Regards,<br>
<% @competition.delegates.sort_by { |d| d.name }.each.each_with_index do |delegate, index| %>
  <%= delegate.name %><% if index != @competition.delegates.map.size - 1 %>, <% end %><% if index == @competition.delegates.map.size - 2 %>and <% end %>
  <% end %>